/* line 7, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* line 15, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
header {
  width: 100%;
  background: #500;
}
/* line 19, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
header h1 {
  max-width: 40rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

/* line 30, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* line 35, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main h1 {
  margin: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  color: #500;
}
/* line 42, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main table {
  border-collapse: collapse;
  margin: 0 auto;
  color: #333;
  text-align: left;
}
/* line 48, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main table tr:nth-child(odd) {
  background: #eee;
}
/* line 52, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main table th {
  color: #fff;
  background: #500;
}
/* line 58, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main table th, main table td {
  padding: 0.375em 1em;
}
/* line 66, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main .no_headers th {
  text-align: left;
  color: #222;
  background: none;
}
/* line 73, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main form {
  text-align: center;
}
/* line 77, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main select, main button {
  padding: 0.25em;
  border: 0.06em solid #aaa;
  font-size: 1em;
  line-height: 1;
  color: #333;
  background: #eee;
}
/* line 86, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main select:hover, main button:hover {
  cursor: pointer;
}
/* line 90, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main select:focus, main button:focus {
  border-color: #999;
  outline: none;
  background: #ddd;
}
/* line 96, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
main option {
  min-height: auto;
}

/* line 101, /home/ec2-user/environment/tamuber-students/app/assets/stylesheets/trips.scss */
#mapid {
  height: 20em;
}
